body{
  width: 98%;
  margin:auto
}

.container {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
  grid-template-rows: 0.5fr 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 0.5fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "Header Header Header Header Header Header Header Header Header Header Header"
    "Header Header Header Header Header Header Header Header Header Header Header"
    "LAside LAside Body Body Body Body Body Body Body RAside RAside"
    "LAside LAside Body Body Body Body Body Body Body RAside RAside"
    "LAside LAside Body Body Body Body Body Body Body RAside RAside"
    "LAside LAside Body Body Body Body Body Body Body RAside RAside"
    "LAside LAside Body Body Body Body Body Body Body RAside RAside"
    "LAside LAside Body Body Body Body Body Body Body RAside RAside"
    "LAside LAside Body Body Body Body Body Body Body RAside RAside"
    "Footer Footer Footer Footer Footer Footer Footer Footer Footer Footer Footer"; 
}
.Header { grid-area: Header; }
.Body { grid-area: Body; }
.LAside { grid-area: LAside; }
.RAside { grid-area: RAside; }
.Footer { grid-area: Footer; }