
/*This is big screen media*/
@media only screen and (min-width: 1200px) {
  header{
    width: 100%;
    text-align: center;

}

h1{
   
}


/*This is tablet screen media*/
@media only screen and (min-width: 768px) {



}

}




/*This is mobile phone media*/
@media only screen 
and (min-device-width:360px)
and (max-device-width: 736px){
    
header{
    width: 100%;
    text-align: right;

}

h1{
  color:red
}
}





